layout {
    tab name="claude" {
        pane split_direction="horizontal" {
            pane command="start-claude" close_on_exit=true focus=true
            pane command="watch" size="20%" {
                args "git" "diff" "--stat"
            }
        }
    }
    default_tab_template {
        children
    }
}
